doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/homestyle.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Aclonica')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/homePage.js')
    
  body
    h1= title
    p Welcome to #{title}

    div.container
        ul
            li.active: a(href = "#" id = "passwordVault") PasswordVault
            li: a(href = "#" id = "about") About
            li: a(href = "#" id = "logout") Log out
    
    div(id = "contents")
      
      //- div#addSite-container
          
      //- div(id = "calloutTest")
    