doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Aclonica')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/welcomePage.js')
    
  body
    h1= title
    p by Spoorthi Bhat(spoorthicbhat@gmail.com)

    // Login info
    div.wholeblock
        div.loginblock
            h2.login Signin
            #login
                fieldset#loginField
                    input#loginusername(type = "text", placeholder = "Username")
                    br
                    br
                    input#loginpassword(type = "password", placeholder = "Password")
                    br
                    br
                    button#loginbutton 
                        span LOG IN
            // /login info

        // Sign up info
        div.sup 
            br
            h2.signup Sign-up
            #signup
                fieldset
                    input#inputfirstname(type = "text",placeholder = "First name")
                    input#inputlastname(type = "text",placeholder = "Last name")
                    br
                    br
                    input#inpusername(type = "text",placeholder = "Username")
                    input#inppassword(type = "password",placeholder = "Password")
                    br
                    br
                    input#inputemail(type = "text",placeholder = "Email")
                    br
                    br
                    button#signupbutton 
                        span SIGN-UP
        // /signup info



