html{
  height: 100%;
}
body{
  background: url("../images/NormalBackground.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* Full height */
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "Calibri";
}
h1{
    text-align: center;
    font-family: "Aclonica";
    font-size: 50px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(175, 44, 72), 0 0 5px darkblue;

}
p{
  text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 12px;
    }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0,0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .callout {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 20px;
    height : 400px;
    width: 400px;
    max-width: 1000px;
  }
  
  .callout-header {
    padding: 25px 15px;
    background: #555;
    font-size: 30px;
    color: white;
  }
  
  .siteinput {
    width : 250px;
  }
  .callout-container {
    padding: 15px;
    
    background-color: #ccc;
    color: black
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: lightgrey;
  }

  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width:100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 90%;
    height: 80%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(231, 164, 133);
    color: rgb(31, 5, 5);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color : rgb(241, 229, 120);
    color: rgb(29, 15, 68);
    transform: rotateY(180deg);
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
  }

  .addPasswordBtn {
    padding: 15px 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px rgb(83, 78, 78);
    
  }
  
  .addPasswordBtn:hover {background-color: rgb(0, 0, 0)}
  
  .addPasswordBtn :active {
    background-color: #3e8e41;
    transform: translateY(2px);
  }

  .aboutRelated   {
    color : white;
    font-size: 18px;
    
  }
  