.loginblock {
  padding-left: 5px;
  position: relative; 
  width: 50%;
  clear: both;
  float: right;
  
  
}

h1{
  text-align: center;
  font-family: "Aclonica";
  font-size: 40px;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(175, 44, 72), 0 0 5px darkblue;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: aliceblue;
  background-image: url("../images/LockRed.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

a {
  color: #00B7FF;
}

p{
  text-align: center
}
.sup{
  /* float: right; */
  width : 50%;
  clear:both;
  position: relative;
  top: 10%;
  left: 50%
}

input {
  border-radius: 6px;
  width:250px;
  height: 20px;
  
}

input::placeholder{
  text-align: center;
}
fieldset{
  box-shadow: 0 3px rgb(83, 78, 78);
  border-radius: 5px;
}

button {
  display: inline-block;
  border-radius: 5px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 20px;
  height: 50px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

h2{
  text-shadow: 0 0 3px #FF0000;
}
